
<div class="inbox-container">
  <h2>Inbox</h2>
  <ul class="message-list">
    <li *ngFor="let message of messages" [class.read]="message.read">
      <div (click)="onSelectMessage(message)">
        <strong>{{ message.sender }}</strong> - {{ message.subject }}
        <span class="timestamp">{{ message.timestamp | date: 'short' }}</span>
      </div>
      <button class="delete-button" (click)="onDeleteMessage(message)">Delete</button>
    </li>
  </ul>
</div>



<!-- container.component.html -->
<div class="container">
  <div class="header">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>

<div class="map-cast">

  <select class="select" [(ngModel)]="selectedoption2">
    <option *ngFor="let option of color_list" [value]="option">{{option}}</option>
  </select>

  <button mat-button class="update-button" (click)="updateWaypoints()">Update</button>

  <div class="map-frame">
    <div id="map"></div>
  </div>


  <app-payment></app-payment>

</div>



<style>

.select {

  margin-top:8rem;
  margin-left:6rem;
  width: 6.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  height: 3rem;
  color: blue;
  border: 0.12rem solid #E40909;

}

.update-button {

  margin-left:6rem;
  width: 6.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  height: 3rem;
  color: blue;
  border: 0.12rem solid #E40909;

}

.map-frame {

  margin-left:6rem
  border: 2px solid black;
  height: 30rem;
  width: 70rem;

}


  #map {
    height:      100%;
    margin-top:  3rem;
    margin-left: 6rem;

  }

  .container {
    padding: 1rem;
    margin-top:5rem;
    margin-left:6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 64rem;
    background-color: #fff;
}

.header {
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

  .inbox-container {
  padding: 1rem;
  margin-left:6rem;
  margin-top:15rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 600px;
  background-color: #f9f9f9;
}

.message-list {
  list-style-type: none;
  padding: 0;
}

.message-list li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-list li.read {
  background-color: #e0e0e0;
}

.message-list li:hover {
  background-color: #f0f0f0;
}

.timestamp {
  font-size: 0.8rem;
  color: #666;
  margin-left: 1rem;
}

.delete-button {
  background-color: #ff4c4c;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

@media (max-width: 480px) {

  .select {

  margin-top:6rem;
  margin-left:6rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 1rem;
  height: 3rem;
  color: blue;
  border: 0.12rem solid #E40909;

}

.update-button {

  margin-left:2rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 1rem;
  height: 3rem;
  color: blue;
  border: 0.12rem solid #E40909;

}
  .header {
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

  .inbox-container {
  padding: 1rem;
  margin-left:5rem;
  margin-top:10rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 45rem;
  background-color: #f9f9f9;
}

.message-list {
  list-style-type: none;
  padding: 0;
}

.message-list li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-list li.read {
  background-color: #e0e0e0;
}

.message-list li:hover {
  background-color: #f0f0f0;
}

.timestamp {
  font-size: 0.8rem;
  color: #666;
  margin-left: 1rem;
}

.delete-button {
  background-color: #ff4c4c;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

}


</style>
