
<select class="select" [(ngModel)]="selectedoption2">
  <option *ngFor="let option of color_list" [value]="option">{{option}}</option>
</select>

<button mat-button class="update-button" (click)="updateWaypoints()">Update</button>

<div class="map-frame">
  <div id="map"></div>
</div>

<app-payment></app-payment>

<style>

.select {

  margin-top:18rem;
  margin-left:6rem;
  width: 6.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  height: 3rem;
  color: blue;
  border: 0.12rem solid #E40909;

}

.update-button {

  margin-left:6rem;
  width: 6.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  height: 3rem;
  color: blue;
  border: 0.12rem solid #E40909;

}

.map-frame {
  margin-left:6rem
  border: 2px solid black;
  height: 30rem;
  width: 80rem;
}

#map {
  height:      100%;
  margin-top:  3rem;
  margin-left: 6rem;
}

</style>
