<div class="page-elem">

    <div class="forlogo">
      <img src="assets/coclogode.png" alt="Logo" class="logo" />
    </div>

    <div class="button-container">

      <button class="image-button" (click)="onButtonClickinsta()">
        <img src="assets/insta.png" alt="insta" class="insta" />
      </button>

      <button class="image-button" (click)="onButtonClickwhatsapp()">
        <img src="assets/whatsapp.png" alt="whatsapp" class="whatsapp" />
      </button>

      <button class="image-button" (click)="onButtonClicktwetter()">
        <img src="assets/twetter.png" alt="Logo" class="twetter" />
      </button>

      <button class="image-button" (click)="onButtonClickfacebook()">
        <img src="assets/facebook.png" alt="facebook" class="facebook" />
      </button>

      <button mat-button class="login-button" style="color:#6FFD00" (click)="logfunc()">Login</button>
    </div>

</div>

<style>
  .page-elem {
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%; /* Ensure it spans the full width */
  }

  .logo {
    margin-top: -5rem;
    margin-left: 2.5rem;
    width: 35rem;
  }

  .button-container {
    margin-top: -5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end; /* Align items to the start (left) */
    align-items: center;
    margin-right: 6rem;
  }

  .insta,
  .whatsapp,
  .twetter,
  .facebook {
    width: 38px;
    height: 38px;
    margin-right: 2rem;
  }

  .login-button {
    width: 6rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    height: 3rem;
    color: white;
    border: 2px solid #E40909;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }


</style>
