<div class="container">
  <div class="image-container">
    <img src="assets/bilgi_rehberi.jpg" alt="techno">
  </div>
</div>


<style>

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
    .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left:-1.1rem;
    background-clip: padding-box;
  }

   @media (max-width: 380px) {

    .container {
    position: relative;
    width: 10%;
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
    .image-container {
    width: 10%;
    height: 10%;
    overflow: hidden;
    margin-left:-1.1rem;
    background-clip: padding-box;
  }


   }

</style>
