
<div class="container">
  <div class="image-container">
    <img src="assets/bg4.jpg" alt="techno">
  </div>

  <div class="login-container">
    <mat-card>

      <mat-card-header style="margin:1rem">
        <mat-card-title >Login</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="loginForm">

          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>


        </form>
      </mat-card-content>

      <div style="display: flex; justify-content: space-between; margin: 1rem;">
        <button mat-raised-button color="primary" type="submit" style="width: 10rem;" (click)="onLogin()">Login</button>
        <button mat-raised-button color="accent" style="width: 10rem;" (click)="onRegister()">Register</button>
      </div>


    </mat-card>
  </div>
</div>


<div class="footer">
  <div class="footer-content">
    <span class="company-name">Cocsapientis Yazılım</span>
    <span class="contact-info">Tel: +90 553 588 15 68 | Email: info@cocsapientis.com</span>
  </div>
</div>


<style>

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 100%;
    height: 100%;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* Adjust the opacity of the image */
    transition: opacity 0.5s ease;
  }

  .login-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  mat-card-header {
    text-align: center;
  }

  .button-container {
    position: absolute;
    top: 1.6rem;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    z-index: 1;
  }


  .footer {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 1;
}

.contact-info {
  font-size: 1rem;
  z-index: 1;
}




</style>
