
<div class="button-container">
  <button mat-button class="home-button" style="color:#6FFD00" (click)="homefunc()">Home</button>
</div>


<div class="container">
  <div class="image-container">
    <img src="assets/bg4.jpg" alt="techno">
  </div>

  <div class="login-container">
    <mat-card>
      <mat-card-header style="margin:1rem">
        <mat-card-title>{{ isLoginMode ? 'Register' : 'Login' }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="isLoginMode ? registerForm : loginForm" (ngSubmit)="isLoginMode ? onRegister() : onLogin()">

          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

          <mat-form-field *ngIf="isLoginMode" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>

        </form>
      </mat-card-content>

      <div style="display: flex; justify-content: space-between; margin: 1rem;">
        <button mat-raised-button color="primary" type="submit" style="width: 10rem;" (click)="isLoginMode ? onRegister() : onLogin()">
          {{ isLoginMode ? 'Register' : 'Login' }}
        </button>
        <button mat-raised-button color="accent" style="width: 10rem;" (click)="toggleMode()">
          {{ isLoginMode ? 'Login' : 'Register' }}
        </button>
      </div>
    </mat-card>
  </div>
</div>

<style>
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 100%;
    height: 100%;
    margin-left:-1rem;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* Adjust the opacity of the image */
    transition: opacity 0.5s ease;
  }

  .login-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  mat-card-header {
    text-align: center;
  }

  .button-container {
    position: absolute;
    top: 1.6rem;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    z-index: 1;
  }

  .home-button {
    margin-left: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    height: 3rem;
    color: white; /* Change font color to white */
    border: 2px solid #E40909;
  }
</style>
