<div class="button-container">
  <button mat-flat-button [@bounce]="animationState" class="loop-button" (click)="scrollDown()">
    Keşfet
  </button>
</div>


<style>

  .button-container {
    position: relative;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right:6rem;
    margin-top:-3rem;
  }

.loop-button {
  background-color: orange;
  width:8rem;
  height:3rem;
  border-radius:1rem;
  font-size: 1rem;
  cursor: pointer;

}

/* Mobile adjustments */
@media (max-width: 768px) {

  .button-container {
    margin-right: 2rem;
    margin-top: -2rem;
    justify-content: center; /* Center the button on smaller screens */
  }

  .loop-button {
    margin-left: 13rem;
    margin-top:1rem;
    width: 6rem; /* Adjust button width */
    height: 2rem; /* Adjust button height */
    font-size: 0.9rem; /* Slightly smaller font size */
    border-radius: 0.8rem; /* Adjust border radius */
  }
}



</style>
